@model WebSite.Areas.Admin.Models.PagerBase
<div class="pager-wrapper clearfix">
        @if (Model.PageCount > 0)
        {
            var btnActionPartialClass = "btn-action-partial";
            Model.ChangePageIndex(1);
            <div class="float-left">
                <span>Total @Model.PageCount pages</span>
            </div>
            <div class="float-right">
                <a href="javascript:void(0);" class="@btnActionPartialClass page-first-last-item" data-action="@Url.Action(Model.Action, Model.Controller, Model.RouteValueDic)">First</a>
                @{
                    Model.ChangePageIndex(Model.PreviousPageIndex);
                }
                <a href="javascript:void(0);" class="@btnActionPartialClass" data-action="@Url.Action(Model.Action, Model.Controller, Model.RouteValueDic)">&lt;</a>

                @for (int j = Model.DisplayPageStartIndex; j <= Model.DisplayPageEndIndex; j++)
                {
                    if (j == Model.PageIndex)
                    {
                        <span class="current-page-item-wrapper">@Model.PageIndex</span>
                    }
                    else
                    {
                        Model.ChangePageIndex(j);
                        <a href="javascript:void(0);" class="@btnActionPartialClass" data-action="@Url.Action(Model.Action, Model.Controller, Model.RouteValueDic)">@j</a>
                    }
                }

                @{
                    Model.ChangePageIndex(Model.NextPageIndex);
                }
                <a href="javascript:void(0);" class="@btnActionPartialClass" data-action="@Url.Action(Model.Action, Model.Controller, Model.RouteValueDic)">&gt;</a>

                @{
                    Model.ChangePageIndex(Model.PageCount);
                }
                <a href="javascript:void(0);" class="@btnActionPartialClass page-first-last-item" data-action="@Url.Action(Model.Action, Model.Controller, Model.RouteValueDic)">Last</a>
            </div>
        }
</div>